// Переписать все на переменные
// добавить смену цветовой темы

body {
  background: #222;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #303030;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  margin-bottom: 16px;
  margin-top: 50px;
}

.logo {
  margin-left: 10px;
  font-size: 2rem;
  line-height: 30px;
  font-weight: 500;
  cursor: pointer;

  &__link {
    color: #fff;

    span {
      color: red;
    }
  }
}

.header {
  background-color: #000;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__inner {
    background-color: #000;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 50px;
  }

  &__menu {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.search {
  position: relative;

  &__input {
    background-color: #333;
    border: 1px solid #656464;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    padding: 0 15px;
    color: #fff;
  }

  &__svg {
    stroke: #a79e9e;
    position: absolute;
    top: 4px;
    right: 15px;
  }
}

.nav {
  &__list {
    display: flex;
  }

  &__item {
    margin-right: 20px;
  }

  &__link {
    color: #fff;
  }
}

.banner {
  padding-top: 50px;
  background: radial-gradient(99.96% 663.27% at 0% 3.74%,
      #FF0303 0%,
      rgba(153, 2, 2, 0.495026) 73.55%,
      rgba(131, 2, 2, 0.387165) 83.53%,
      rgba(106, 1, 1, 0.262945) 93.4%,
      rgba(85, 1, 1, 0.15901) 97.86%,
      rgba(53, 1, 1, 0) 100%);

  &-inner {
    max-width: 80%;
    padding: 50px 0;
    margin: 0 auto;
    display: flex;
  }

  &-img {
    max-height: 388px;
  }

  &-content {
    margin-left: 60px;
  }

  &-title {
    color: #fff;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
  }

  &-desc {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-top: 12px;
    margin-bottom: 55px;
  }

  &-btn {
    border: none;
    padding: 15px 25px;
    background: #EBD830;
    border-radius: 30px;

    &:active {
      transform: scale(0.96);
    }
  }
}

.film {
  margin-top: 50px;

  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__item {
    width: 290px;
    margin-bottom: 15px;
    background-color: #1b1b1b;
    cursor: pointer;
    transition: transform .2s ease;
    position: relative;

    &:hover {
      transform: scale3d(1.1, 1.1, 1);
      z-index: 2;
    }
  }

  &__item-rating {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    background-color: #222;
    font-size: 15px;
    height: 40px;
    width: 40px;
    padding: 9px 6px;

    &--green {
      color: green;
      border: 2px solid green;
    }

    &--orange {
      color: orange;
      border: 2px solid orange;
    }

    &--red {
      color: red;
      border: 2px solid red;
    }
  }

  &__item-img {
    width: 100%;
  }

  &__item-title {
    height: 35px;
    margin: 16px 0 10px 10px;
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
  }

  &__item-genre {
    margin-left: 10px;
    padding-bottom: 15px;
    color: #fff;
    font-size: 14px;
  }
}

.footer {
  background-color: #000;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 20px;

  &__logo {
    margin-left: 0;
  }

  &__text {
    margin-top: 10px;
    color: #fff;
  }

  &__text-link {
    color: #fff;
    text-decoration: underline;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, .95);
  padding: 40px 0;

  &__close {
    position: fixed;
    top: 8px;
    right: 14px;
    font-size: 35px;
    color: #fff;
    opacity: .5;
    cursor: pointer
  }

  &__dialog {
    width: 70vw;
    min-height: 95vh;
    margin: 0 auto;
    border-radius: 2%;
    background-color: #222;
  }

  &__container {
    position: relative;
    padding: 3%;
    display: flex;
    gap: 50px;
  }
}

.movie {
  &__img {
    height: 50vh;
  }

  &__content {
    max-width: 80%;
    position: relative
  }

  &__rating {
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    padding: 14px;
    color: red;
    border: 1px solid red;
    border-radius: 20%;
    position: absolute;
    right: 10px;
  }

  // &__rating--bad {
  //   color: red;
  //   border: 2px solid red;
  // }

  // &__rating--middle {
  //   color: orange;
  //   border: 2px solid orange;
  // }

  // &__rating--good {
  //   color: green;
  //   border: 1px solid green;
  // }

  &__title {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;

    &--original {
      font-size: 20px;
      font-weight: 700;
      color: #aaa;
      margin-bottom: 20px;
    }
  }

  &__about {
    margin-bottom: 20px;
    font-size: 20px;
    color: #fff;

    & p {
      padding-top: 10px;
      padding-bottom: 5px;
      border-bottom: 1px solid #fcddfc55;
      position: relative;
      font-size: 16px;

      & span {
        position: absolute;
        right: 10px;
      }
    }
  }

  &__desc {
    color: #fff;
    line-height: 1.25;
  }

  &__trailer {
    margin-top: 20px;
    color: #fff;
    background-color: #000;
    aspect-ratio: 1.78;
  }

  &__similars {
    margin-top: 20px;
    color: #fff;
  }

  &__similar {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__similar-item {
    width: 160px;
  }

  &__similar-img {
    width: 100%;
  }
}