body {
  background: #222;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #303030;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  margin-bottom: 16px;
  margin-top: 50px;
}

.logo {
  margin-left: 10px;
  font-size: 2rem;
  line-height: 30px;
  font-weight: 500;
  cursor: pointer;

  &__link {
    color: #fff;

    span {
      color: red;
    }
  }
}

.header {
  background-color: #000;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__inner {
    background-color: #000;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 50px;
  }

  &__menu {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__container {
    width: 35%;
    display: flex;
    justify-content: space-between;
  }
}

.search {
  position: relative;

  &__input {
    background-color: #333;
    border: 1px solid #656464;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    padding: 0 15px;
    color: #fff;
  }

  &__svg {
    stroke: #a79e9e;
    position: absolute;
    top: 4px;
    right: 15px;
  }
}

.nav {
  display: flex;

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 20px;
  }

  &__link {
    color: #fff;
  }
}

.registr {
  display: inline;
  margin-right: 10px;
  background-color: #000;
  border: none;
  font-size: 16px;
  color: #add8e6;
}

.banner {
  padding-top: 50px;
  background: radial-gradient(99.96% 663.27% at 0% 3.74%,
      #FF0303 0%,
      rgba(153, 2, 2, 0.495026) 73.55%,
      rgba(131, 2, 2, 0.387165) 83.53%,
      rgba(106, 1, 1, 0.262945) 93.4%,
      rgba(85, 1, 1, 0.15901) 97.86%,
      rgba(53, 1, 1, 0) 100%);

  &-item {
    max-width: 80%;
    padding: 50px 0;
    margin: 0 auto;
    display: flex;
  }

  &-img {
    max-height: 388px;
  }

  &-content {
    margin-left: 60px;
  }

  &-title {
    color: #fff;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
  }

  &-title--orig {
    font-size: 30px;
    color: #e7e7e7;
    font-weight: 500;
    margin-top: 10px;
  }

  &-descr {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-top: 12px;
    margin-bottom: 55px;
  }

  &-genre {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-top: 12px;
    margin-bottom: 20px;
  }

  &-btn {
    border: none;
    padding: 15px 25px;
    background: #EBD830;
    border-radius: 30px;

    &:active {
      transform: scale(0.96);
    }
  }
}

.film {
  margin-top: 50px;

  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__item {
    width: 290px;
    margin-bottom: 15px;
    background-color: #1b1b1b;
    cursor: pointer;
    transition: transform .2s ease;
    position: relative;

    &:hover {
      transform: scale3d(1.1, 1.1, 1);
      z-index: 2;
    }
  }

  &__item-container {
    width: 100%;
    height: 100%;
  }

  &__item-rating {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    background-color: #222;
    font-size: 15px;
    height: 40px;
    width: 40px;
    padding: 9px 6px;
  }

  &__item-img {
    height: 426px;
    background-size: cover;
    background-position: center center;
  }

  &__item-title {
    height: 35px;
    margin: 16px 0 10px 10px;
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
  }

  &__item-genre {
    margin-left: 10px;
    padding-bottom: 15px;
    color: #fff;
    font-size: 15px;
  }
}

.film__item-rating--green {
  color: green;
  border: 2px solid green;
}

.film__item-rating--orange {
  color: orange;
  border: 2px solid orange;
}

.film__item-rating--red {
  color: red;
  border: 2px solid red;
}

.footer {
  background-color: #000;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 20px;

  &__logo {
    margin-left: 0;
  }

  &__text {
    margin-top: 10px;
    color: #fff;
  }

  &__text-link {
    color: #fff;
    text-decoration: underline;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, .95);
  padding: 40px 0;

  &__close {
    position: fixed;
    top: 8px;
    right: 14px;
    font-size: 35px;
    color: #fff;
    opacity: .5;
    cursor: pointer
  }

  &__dialog {
    width: 80vw;
    min-height: 90vh;
    margin: 0 auto;
    border-radius: 3%;
    background-color: #222;
  }

  &__container {
    position: relative;
    padding: 5%;
    display: flex;
    gap: 30px;
  }
}

.movie {
  &__frames {
    width: 100%;
  }

  &__img {
    width: 100%;
  }

  &__content {
    width: 170%;
    position: relative
  }

  &__rating {
    display: inline-block;
    display: flex;
    position: absolute;
    right: 10px;
  }

  &__rating--kp,
  &__rating--imdb {
    margin-left: 10px;
    font-size: 25px;
    line-height: 62px;
    text-align: center;
    font-weight: 700;
    border-radius: 20%;
    height: 65px;
    width: 65px;
  }

  &__title {
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
    width: 73%;

    &--original {
      font-size: 20px;
      font-weight: 700;
      color: #aaa;
      margin-bottom: 20px;
    }
  }

  &__about {
    margin-bottom: 20px;
    font-size: 20px;
    color: #fff;

    & p {
      padding-top: 10px;
      padding-bottom: 5px;
      border-bottom: 1px solid #fcddfc55;
      position: relative;
      font-size: 16px;

      & span {
        position: absolute;
        right: 10px;
      }
    }
  }

  &__desc {
    color: #fff;
    line-height: 1.25;
  }

  &__trailer {
    margin-top: 20px;
    color: #fff;
    background-color: #000;
    aspect-ratio: 1.78;
  }

  &__similars {
    margin-top: 20px;
    color: #fff;
  }

  &__similar {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__similar-item {
    width: 160px;
  }

  &__similar-img {
    width: 100%;
  }
}

.reg-modal {
  // display: block;
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: all .4s ease-out;
  transform: translateX(-100%);

  &__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__close {
    position: fixed;
    top: 8px;
    right: 14px;
    font-size: 35px;
    color: #fff;
    opacity: .5;
    cursor: pointer
  }

  &__content {
    border-radius: 10%;
    background-color: #222;
    width: 500px;
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__text {
    color: #fff;
    font-size: 40px;
    margin: 100px 0 40px;
  }

  &__input--login,
  &__input--password {
    border: none;
    border-bottom: 2px solid #000;
    background-color: #222;
    color: #fff;
    font-size: 17px;
    padding: 0 5px 0;
    width: 200px;
    height: 30px;
    outline: none;

    &::placeholder {
      color: #888;
      padding-left: 0;
    }
  }

  &__input--login:focus,
  &__input--password:focus {
    border-bottom: 2px solid lightblue;
  }

  &__desc {
    color: #fff;
    margin-bottom: 10px;
    display: inline-block;
    width: 75px;
    font-size: 17px;
  }

  &__btn {
    display: block;
    margin: 40px auto 0;
    padding: 15px 15px;
    background-color: #111;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    transition: color, background-color .4s ease;
    font-weight: 500;

    &:hover {
      background-color: #f0f0f0;
      color: #070707;
    }

    &:active {
      transform: scale(.97);
    }
  }
}

.loading {
  height: 90vh;
  display: flex;
  align-items: center;

  #fountainG {
    position: relative;
    width: 222px;
    height: 27px;
    margin: auto;
  }

  .fountainG {
    position: absolute;
    top: 0;
    background-color: rgb(255, 255, 255);
    width: 27px;
    height: 27px;
    animation-name: bounce_fountainG;
    animation-duration: 1.235s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    transform: scale(.3);
    border-radius: 18px;
  }

  #fountainG_1 {
    left: 0;
    animation-delay: 0.496s;
  }

  #fountainG_2 {
    left: 28px;
    animation-delay: 0.6125s;
  }

  #fountainG_3 {
    left: 55px;
    animation-delay: 0.739s;
  }

  #fountainG_4 {
    left: 83px;
    animation-delay: 0.8655s;
  }

  #fountainG_5 {
    left: 111px;
    animation-delay: 0.992s;
  }

  #fountainG_6 {
    left: 139px;
    animation-delay: 1.1085s;
  }

  #fountainG_7 {
    left: 166px;
    animation-delay: 1.235s;
  }

  #fountainG_8 {
    left: 194px;
    animation-delay: 1.3615s;
  }

  @keyframes bounce_fountainG {
    0% {
      transform: scale(1);
      background-color: rgba(255, 255, 255, 0.98);
    }

    100% {
      transform: scale(.3);
      background-color: rgb(255, 255, 255);
    }
  }
}